@model ShoeStoreClothing.ViewModels.ListProductDetailViewModel
@{
	Layout = "_LayoutAdmin";
}
@section Search {
	<div class="col-md-5 col-lg-3 order-3 order-md-2">
		<div class="xp-searchbar">
			<form asp-area="Admin" asp-action="Index" asp-controller="ProductDetail">
				<div class="input-group">
					<input type="search" name="search" class="form-control"
						   placeholder="Search">
					<div class="input-group-append">
						<button class="btn" type="submit" id="button-addon2">
							Go
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
}
<div class="main-content">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper">

				<div class="table-title">
					<div class="row">
						<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
							<h2 class="ml-lg-2">Manage  Employees</h2>
						</div>
						<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
							<a href="/Admin/ProductDetail/Create" class="btn btn-success">
								<i class="material-icons">&#xE147;</i>
								<span>Add New ProductDetail</span>
							</a>
							<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
								<i class="material-icons">&#xE15C;</i>
								<span>Delete</span>
							</a>
						</div>
					</div>
				</div>
				@if (TempData["SuccessMessage"] != null)
				{
					<div class="alert alert-success" id="success-message">
						@TempData["SuccessMessage"]
					</div>
				}
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
							</th>
							<th>ID</th>
							<th>ProductName</th>
							<th>Size</th>
							<th>ColorName</th>
							<th>StockQuantity</th>
							<th>Image</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						@foreach (var item in Model.productDetails)
						{
							<tr>
								<th>
									<span class="custom-checkbox">
										<input type="checkbox" id="checkbox1" name="option[]" value="1">
										<label for="checkbox1"></label>
									</span>
								</th>
								<th>@item.ProductDetailID</th>
								<th>@item.Product?.ProductName</th>
								<th>@item.Size?.SizeName</th>
								<th><input type="color" value="@item.Color?.ColorName" style="pointer-events: none;" readonly /></th>
								<th>@item.StockQuantity</th>
								<th><img src="@item.Image" style="width:100px" alt="None"></th>
								<th>
									<a asp-area="Admin" asp-controller="ProductDetail" asp-action="Update" asp-route-id="@item.ProductDetailID" class="edit" class="edit d-inline mr-2">
										<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
									</a>
									<a href="#deleteEmployeeModal" class="delete" class="edit d-inline mr-2" data-toggle="modal">
										<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
									</a>
								</th>
							</tr>
						}
					</tbody>

				</table>

				<div class="clearfix">
					<div class="hint-text">showing <b>5</b> out of <b>25</b></div>
					@if (Model.TotalPage > 0)
					{
						<ul class="pagination">
							<li class="page-item disabled"><a href="#">Previous</a></li>
							@for (int i = 1; i <= Model.TotalPage; i++)
							{
								<li class="page-item "><a href="/Admin/ProductDetail/Index?search=@Model.search&page=@i" class="page-link">@i</a></li>
							}
							<li class="page-item "><a href="#" class="page-link">Next</a></li>
						</ul>
					}
				</div>

			</div>
		</div>
		<!----add-modal start--------->
		<div class="modal fade" tabindex="-1" id="addEmployeeModal" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Employees</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="emil" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success">Add</button>
					</div>
				</div>
			</div>
		</div>

		<!----edit-modal end--------->
		<!----edit-modal start--------->
		<div class="modal fade" tabindex="-1" id="editEmployeeModal" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Employees</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="emil" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success">Save</button>
					</div>
				</div>
			</div>
		</div>

		<!----edit-modal end--------->
		<!----delete-modal start--------->
		<div class="modal fade" tabindex="-1" id="deleteEmployeeModal" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Delete Employees</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this Records</p>
						<p class="text-warning"><small>this action Cannot be Undone,</small></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success">Delete</button>
					</div>
				</div>
			</div>
		</div>
		@section Scripts {
			<script type="text/javascript">
				<script>
					$(document).ready(function () {
						setTimeout(function () {
							$('#success-message').fadeOut('slow');
						}, 2000); // 5 seconds
					});
			</script>
			</script>
		}
		<!----edit-modal end--------->
