@model ShoeStoreClothing.ViewModels.ListProductViewModel
@{
	Layout = "_LayoutAdmin";
}
@section Search {
	<div class="col-md-5 col-lg-3 order-3 order-md-2">
		<div class="xp-searchbar">
			<form asp-area="Admin" asp-action="Index" asp-controller="Product">
				<div class="input-group">
					<input type="search" name="search" class="form-control"
						   placeholder="Search">
					<div class="input-group-append">
						<button class="btn" type="submit" id="button-addon2">
							Go
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
}
<div class="main-content">
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper">

				<div class="table-title">
					<div class="row">
						<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
							<h2 class="ml-lg-2">Manage  Employees</h2>
						</div>
						<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
							<a href="/Admin/Product/Create" class="btn btn-success">
								<i class="material-icons">&#xE147;</i>
								<span>Add New Product</span>
							</a>
							<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
								<i class="material-icons">&#xE15C;</i>
								<span>Delete</span>
							</a>
						</div>
					</div>
				</div>
				@if (TempData["SuccessMessage"] != null)
				{
					<div class="alert alert-success" id="success-message">
						@TempData["SuccessMessage"]
					</div>
				}
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
									</span>
							</th>
							<th>ID</th>
							<th>ProductName</th>
							<th>Material</th>
							<th>Category</th>
							<th>Brand</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						@foreach(var item in Model.Products)
						{
							<tr>
								<th>
									<span class="custom-checkbox">
										<input type="checkbox" id="checkbox1" name="option[]" value="1">
										<label for="checkbox1"></label>
									</span>
								</th>
								<th>@item.ProductID</th>
								<th>@item.ProductName</th>
								<th>@item.Material?.MaterialName</th>
								<th>@item.Category?.CategoryName</th>
								<th>@item.Brand?.BrandName</th>
								<th>
									<a class="edit" asp-area="Admin" asp-controller="Product" asp-action="Update" asp-route-id="@item.ProductID" >
										<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
									</a>
									<a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
										<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
									</a>
								</th>
							</tr>
						}
					</tbody>

				</table>

				<div class="clearfix">
					<div class="hint-text">showing <b>5</b> out of <b>25</b></div>
					@if (Model.TotalPage > 0)
					{
						<ul class="pagination">
							<li class="page-item disabled"><a href="#">Previous</a></li>
							@for (int i = 1; i <= Model.TotalPage; i++)
							{
								<li class="page-item "><a href="/Admin/Product/Index?search=@Model.search&page=@i" class="page-link">@i</a></li>
							}
							<li class="page-item "><a href="#" class="page-link">Next</a></li>
						</ul>
					}
				</div>

			</div>
		</div>
		
		@section  Scripts {
			<script type="text/javascript">
				<script>
					$(document).ready(function () {
						setTimeout(function () {
							$('#success-message').fadeOut('slow');
						}, 2000); // 5 seconds
					});
			</script>
			</script>
		}
		<!----edit-modal end--------->
