@model ShoeStoreClothing.ViewModels.ListCommentViewModel

<table class="table table-bordered">
    <tr>
        <th>Date</th>
        <th>Product</th>
        <th>Comment</th>
        <th>Image</th>
    </tr>
    @foreach(var item in Model.comments)
    {
        <tr>
            <td>@item.CreateComment</td>
            <td>@item.ProductDetail?.Product?.ProductName,@item?.ProductDetail?.Size.SizeName,<input type="color" value="@item.ProductDetail?.Color?.ColorName"/></td>
            <td>@item.CommentText</td>
            <td><img src="@item.ProductDetail?.Image" alt="Error" style="width:100px" /></td>
        </tr>
    }
</table>
<nav aria-label="navigation">
    <ul class="pagination mt-50 mb-70">
        @if (Model.TotalPage > 0)
        {
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                @for (int i = 1; i <= Model.TotalPage; i++)
                {
                    <li class="page-item "><a href="/Comment/ManagerComment?search=@Model.search&page=@i" class="page-link">@i</a></li>
                }
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        }
    </ul>
</nav>